body{
    margin: 0;  
      background-image: url('clockImg.png');
        background-size: cover;
}

.time{
    font-size: 75px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 1%;
    right: 42%;
    font-weight: italic + bold;
      color: rgb(243, 203, 203);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-top: 30vh;
}

.date{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 44%;
    right: 45%;
    font-weight: italic + bold;
   color: rgb(239, 193, 193);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-top: 1vh;
}

.clearDate{
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 55%;
    right: 46%;
    font-weight: italic + bold;
   color: rgb(239, 193, 193);
    margin-top: 1vh;
}